body {
     font-family: 'Georgia', serif;
    background:#996699;
    margin: 0;
    padding: 0;
	
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    background-color:#330033;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align:center;
    color:#996699;
    margin-bottom: 25px;
}

form label {
    font-weight: 600;
    display: block;
    margin: 15px 0 5px;
    color:#CCCCCC;
}

form input,
form select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    background-color:#996699;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background-color:#663366;
}

